fastapi==0.109.0
uvicorn==0.27.0
opencv-python==4.9.0.80
ultralytics
python-dotenv==1.0.0
numpy==1.26.3
passlib[bcrypt]==1.7.4
PyJWT==2.8.0
python-multipart==0.0.9
psutil==5.9.8
pymavlink>=2.4
scipy==1.10.1
pyproj>=3.3
requests>=2.28.0
